.explore-area {
    // background-color: var(--light-grey-2);
    
}

.explore-top-title {
    font-family: "bebas neue";
    font-size: 100px;
}

.explore-top-para{
    font-family: "palatino";
    width:60%;
    padding-bottom: 25px;
}

.explore-top a {
    color: black;
    padding-bottom: 65px;
}

.explore-bottom {
    padding-top: 15px;
}

.explore-bottom h2 {
    padding-top: 10px;
    font-family: "bebas neue";
    font-size: 30px;
}

.explore-bottom p {
    padding-bottom: 65px;
}