.footer {
    
}

.footer-container {
    // background-color: black;
    padding-top: 15px;
    // padding-bottom: 15px;
    // padding-left: 90px;
    padding-right: 15px;
}

.footer-image {
    padding-bottom: 60px;
}

.footer-nav {
    padding-bottom: 15px;
}
.footer-nav a  {
    font-family: "palatino";
    color: white;
    text-decoration: none;
}

.footer-info {
    max-width: 90%;
    color: white;
    padding-bottom: 80px;
}

.footer-copyright {
    color: white;
}