.block--bg-dark {
    background-color: var(--off-black);
}

.block--bg-light {
    background-color: var(--light-grey-1);
}

.block--bg-white {
    background-color:white;
}

.block--bg-peach {
    background-color: #F2C9C2;
}